body, input {
	font-family: 'Raleway', sans-serif;
}

.logo {
	position: fixed;
	left: 0;
	top: 0;
}

/* Error handling CSS */
.customerror {
	border-color: red;
	border-width: 2px;
	background-color: #ffcccf;
	font-weight: bold;
}

.detail {
	position: fixed;
	visibility: hidden;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
}